
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

/* Reset */
*{
    margin: 0;
    padding: 0;
}



section p {
    color: rgb(241, 255, 241); 
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    line-height: 2.4rem;
}

.p{
	color: rgb(5, 5, 4); 
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    line-height: 2.4rem;
}


body{
    background-image: url(../img/backgrounds/oriental.png);
    background-repeat: repeat;
    background-attachment: scroll;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.5rem;
}

h3{
    font-size: 3rem;
}

.pie{
	/*padding*/
	padding:30px;
	/*display flex*/
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pieIconos{
    width: 35px;
}


.intro{
    width: 20%;
    height: auto;
    margin: 70px 20px;
    padding: 30px 50px;
    border: dashed gray 3px;
    list-style: none;
    /* display */
    display: inline-block;
}


.header {
    height: 40vh;
    background-size: cover;
    animation-name: headerAnimation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}




@keyframes headerAnimation {
    0%{background-image: url(../img/header/cielo.webp)}
    25%{background-image:url(../img/header/cielo2.webp)}
    50%{background-image:url(../img/header/cielo3.webp)}
    75%{background-image: url(../img/header/cielo4.webp)}
    100%{background-image: url(../img/header/cielo5.webp)}
}