

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

.fontItalic{
    font-style: italic;

}

.textCenter{
    text-align: center;

}

.textRight{
    text-align: right;

}

.textLeft{
    text-align: left;

}

.bgGray{
    background-color: gray;

}

.bgWhite{
    background-color: whitesmoke ;
}

section p {
    color: yellowgreen; 
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    line-height: 2.4rem;
}

form label{
    font-size: 2rem;
    font-family: 'Lato', sans-serif; 
    color: blanchedalmond;
}


h1,h2,h3{
    color: ghostwhite;
    font-family: 'Lato', sans-serif;

}